<h3>Peacock Cosmetics Mineral Makeup</h3>
<p><span>BENEFITS OF PEACOCK COSMETICS MINERAL MAKEUP</span></p>
<p>The benefits of using Peacock Cosmetics Mineral Makeup are countless. Since Peacock Cosmetics mineral makeup gives excellent coverage, the result when using our mineral cosmetics is flawless and naturally beautiful skin. Our unique blend of 100% natural
  minerals also contain light reflective qualities, which reduce the appearance of aging.</p>
<p>Peacock Cosmetics mineral makeup is free from preservatives, talc, synthetic chemicals and other filler ingredients contained in many other makeup brands. Instead, we use only 100% pure and natural minerals from the earth-- Mica, Titanium Dioxide, Zinc
  Oxide, and Iron Oxides. These gifts from Mother Nature help heal, protect and nourish your skin while giving you a natural and radiant look. Whether you're look is natural or dramatic, Peacock Cosmetics has what you need!</p>
<ul>
  <li>Hypo-allergenic</li>
  <li>Dermatologist recommended</li>
  <li>Good for sensitive skin. Will not irritate acne and/or rosacea sufferers!</li>
  <li>No synthetic chemicals, parabens, talc, fragrance, or Bismuth Oxychloride.</li>
  <li>No artificial FD&amp;C colors</li>
  <li>No shelf life. As long as you have it, it is safe to use!</li>
  <li>Sets on top of your skin. Does not settle into your pores or fine lines, reducing the appearance! </li>
</ul>
