<h2>Hair Services</h2>
<h3>Bailey Daniel - Cosmetologist</h3>
<ul>
  <li>HAIR CUT & SHAMPOO ................................$16</li>
  <li>HAIR CUT & STYLE .......................................$20</li>
  <li>MEN'S HAIR CUT ...........................................$12</li>
  <li>ALL OVER COLOR ........................................$45 & up</li>
  <li>ROOT TOUCH UP ..........................................$40 & up</li>
  <li>HIGHLIGHTS & LOWLIGHTS.........................$65 & up</li>
  <li>PERMS ............................................................$50</li>
  <li>UP DOS for any occasion...............................???</li>
</ul>
<p>Monday thru Friday 10-6 Saturday or later appointment available. Walk-ins Welcome</p>
