<div class="ContentWrapper">
  <div class="ContentContainer">
    <h3>Essential Oils</h3>
    <img src="/assets/images/Oils5.png" alt="Essential Oils" />
    <p>Essential oils are natural aromatic compounds found in the seeds, bark, stems, roots, flowers, and other parts of plants. They can be both beautifully and powerfully fragrant. If you have ever enjoyed the gift of a rose, a walk by a field of lavender,
      or the smell of fresh cut mint, you have experienced the aromatic qualities of essential oils. In addition to giving plants their distinctive smells, essential oils provide plants with protection against predators and disease and play a role in
      plant pollination.</p>
    <p>Essential oils are non water-based phytochemicals made up of volatile aromatic compounds. Although they are fat soluble, they do not include fatty lipids or acids found in vegetable and animal oils. Essential oils are very clean, almost crisp, to
      the touch and are immediately absorbed by the skin. Pure, unadulterated essential oils are translucent and range in color from crystal clear to deep blue.</p>
    <p>doTerra CPTG Certified Pure Therapeutic Grade® essential oils represent the safest, purest, and most beneficial essential oils available today. They are gently and skillfully distilled from plants that have been patiently harvested at the perfect
      moment by experienced growers from around the world for ideal extract composition and efficacy. Experienced essential oil users will immediately recognize the superior quality standard for naturally safe, purely effective therapeutic-grade doTerra
      essential oils.</p>
    <div class="imgfloatright">
      <img src="/assets/images/oil_purify-checklist.png" alt="Essential Oil" />
      <p><span>OIL OF THE MONTH</span>
        <br> Purify
        <br> Cleansing Blend, from bug bites to sneezes, protecting yourself is more important than ever. Purify is doTERRA®'s formidable blend of CPTG® essential oils designed to eliminate odors and other contaminates naturally, without toxic additives.
        Its refreshing aroma quickly eradicates unpleasant odors and purifies the air and environment with the essential oils of lemon, lime, pine, citronella, melaleuca and cilantro. For aromatic or topical use. </p>
    </div>
  </div>
</div>
