div.address {
  margin: 5px;
  display: grid;
  grid-template-areas: 'a a';
}

div.first {
  padding-bottom: 8px;
  border-bottom: solid rgb(60, 29, 4);
}
iframe {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

@media only screen and (max-width: 800px) {
  div.address {
    padding: 1vw;
    display: grid;
    grid-template-areas: 'a' 'a';
  }
}
