<h3>Contact Us</h3>
<img src="/assets/images/DSCN0443_edited-1-1_800x421.jpg" alt="The Healing Touch Building" />

<div class="address first">

  <address>
							<strong>The Healing Touch Massage & Day Spa</strong><br>
							300 N 25th St.<br>
							Bethany, MO 64424<br>
							Phone: 660-425-4443<br>
							<br>
							<strong>Office Hours:</strong>
							<br>
							Monday - Friday
							<br>
							Saturday - By Appointment
						</address>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.2517528708545!2d-94.0269824!3d40.270157499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ea3e529a4bee91%3A0xb6658ad28b4c49c7!2sHealing+Touch!5e0!3m2!1sen!2sus!4v1485015764472"
      width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="address">

  <address>
							<strong>Maryville Office</strong><br>
							1206 Main St.<br>
							Maryville, MO 64468<br>
							Phone: 660-582-5959<br>
							<br>
							<strong>Office Hours:</strong><br>
							Wednesday and Friday
							<br>
							<br>
							Saturday - By Appointment
						</address>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24326.987544496173!2d-94.89143722888114!3d40.34515338848557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87eac574a124d559%3A0xf920f43913ca3f54!2sAdvanced+Chiropractic+Center!5e0!3m2!1sen!2sus!4v1515179865489"
      width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
