<h2>Vitamins</h2>
<!-- <img src="/assets/images/juiceplus_full.jpg" alt="Juice PLUS"/> -->
<div class="imgfloatright">
  <img src="/assets/images/juice_pl.jpg" alt="Fruits and Vegitables" />
  <h3>Orchard & Garden Blend Capsules</h3>
  <p>Juice Plus+ Orchard and Garden Blends provide added whole food based nutrition from 17 different fruits, vegetables, and grains in convenient capsule form.</p>
</div>
<div class="imgfloatleft">
  <img src="/assets/images/Calm.jpg" alt="Anti-Stress Drink" />
  <h3>The Anti-Stress Drink</h3>
  <p>Natural Calm is the solution to both restoring a healthy magnesium level and balancing your calcium intake, the result of which is natural stress relief.</p>
</div>
