<h2>Skin Care Services</h2>
<h3>Facials $45</h3>
<p>Custom Facials are just one of the steps to maintaining healthy, clear skin but can also be a relaxing way to pamper oneself. Facials consist of cleansing and exfoliating the skin and the extraction of blackheads and/or whiteheads that clog pores. Often
  times, facials are designed or catered to a client's specific skin type or problem areas. Everyone's skin is different, but whether skin is dry, oily, a combination of the two, sensitive or normal, there is a facial to target each individual's needs.
</p>
<h3>Microdermabrasion Facials $65</h3>
<p>Microdermabrasion treatments are a non-surgical way to freshen and rejuvenate the skin on your face.</p>
<p>A less aggressive approach than dermabrasion, microdermabrasion treatments make use of a minimally abrasive instrument to gently sand the skin, removing the thicker, uneven outer layer.</p>
<p>This type of skin rejuvenation is used to treat light scarring, discoloration and sun damage and there's even microdermabrasion for stretch marks.</p>
<h3>Chemical Peel $45</h3>
<p>A chemical peel is a body treatment technique used to improve and smooth the texture of the facial skin using a chemical solution that causes the dead skin to slough off and eventually peel off. The regenerated skin is usually smoother and less wrinkled
  than the old skin.</p>
<h3>Body Wraps $50</h3>
<p>Body wraps can be slimming (temporarily), hydrating, or detoxifying.</p>
<h3>Spa Hand Treatment $20</h3>
<h3>Spa Foot Treatment $30</h3>
<h3>Hair Removal $8-$75</h3>
<h3>Makeup Apps $20</h3>
<h3>Lash & Brow Tinting $30</h3>
<h3>Lash Extensions $100</h3>
