<h2>Day Spa Services</h2>
<p>We're a full service Massage, Skin & Body, Day Spa offering a variety of beautifying rejuvenation services:</p>
<h3>Chair Massage</h3>
<p>Don't have time for a traditional table massage? Try our relaxing chair massage while remaining fully clothed. Works your head, neck, back, shoulders, hands, & arms.</p>
<ul>
  <li>15 Minute..................................$15</li>
  <li>25 Minute..................................$25</li>
</ul>
<div class="imgfloatright">
  <h3>Swedish Table Massage</h3>
  <img src="/assets/images/020131_1292_0172_lsls.jpg" alt="Swedish Table Massage" />
  <p>The classic relaxing full-body massage uses long, smooth strokes to sooth aches and pains and relieve stress and tension.</p>
  <ul>
    <li>30 Minute...................................$30</li>
    <li>(Back, shoulders, neck, & head only)</li>
    <li>50 Minute...................................$45</li>
    <li>70 Minute...................................$60</li>
    <li>90 Minute...................................$75</li>
  </ul>
</div>
<h3>Deep Tissue Massage</h3>
<p>Full body massage with deeper pressure applied to muscle to release toxins & relieve stress & tension.</p>
<ul>
  <li>50 Minute...................................$60</li>
  <li>70 Minute...................................$75</li>
</ul>
<div class="imgfloatleft">
  <h3>Hot Stone Massage</h3>
  <img src="/assets/images/Hot_Stone.jpg" alt="Hot Stone Massage" />
  <p>This modality uses hot stones blended with massage to melt away stress and enhance the circulation and healing process.</p>
  <ul>
    <li>70 Minute...................................$80</li>
    <li>90 Minute..................................$100</li>
  </ul>
</div>
<h3>Prenatal Massage</h3>
<p>Help for your pregnancy aches & pains. Helps relax tense muscles, eases sore spots. Improves circulation, mobility & just makes you feel good.</p>
<ul>
  <li>50 Minute...................................$45</li>
</ul>
<h3>Reflexology</h3>
<p>This treatment is based on the stimulation of specific reflex areas on the feet and hands that correspond to parts of the body, as well as its physiological systems, organs, and glands.</p>
<ul>
  <li>50 Minute...................................$45</li>
</ul>
<h3>Foot Detox</h3>
<p>This field stimulates cellular energy and enhances the body's ability to internally cleanse itself naturally, at an increased rate, restoring and normalizing the body's correct ph balance and energy levels.</p>
<ul>
  <li>20 Minute Treatment..................$30</li>
  <li>12 Treatments.......................$240</li>
</ul>
<h3>Infrared Sauna</h3>
<p>Benefits include removal of cellulite, burns up to 600 calories per treatment. Detoxifies impurities from cells. Infrared is 2 to 3 times more effective than a steam sauna.</p>
<ul>
  <li>35 Minute...................................$25</li>
</ul>
<h3>Ear Candling</h3>
<p>Benefits may include reduced pain, improved taste, relief of dizziness, reduced stress & tension, improved sense of smell, reduced ringing in ears.</p>
<ul>
  <li>$25</li>
</ul>
