<div class="ContentWrapper">
  <div class="ContentContainer">
    <h3>Skin Solutions by the Healing Touch</h3>
    <img src="/assets/images/Botanical_Home_R2_02.jpg" alt="Skin Care Products" />
    <p><span>ABOUT OUR PRODUCT -</span> Skin Solutions by The Healing Touch is our own formula which is chosen from the finest sources around the world indigenous to their origin. Herbs are harvested at the correct time of year, when the benefits of the
      plant are at their peak, as well as at the correct time of day, when the plant's synergies are at their peak. This method ensures herbs are gathered at their highest potency.</p>
    <p>Knowing more about extract potential through research provides vital information, ensuring performance in the designed formula. Analyses are completed with the utmost care and attention, using advanced instrumentation such as spectral analyzers and
      HPLC.
    </p>
    <p>Specially chosen natural herbal extracts, specialty ingredients and aromatherapy essential oils are blended with water-based emulsions to provide results. No sensitizing fragrances are used.</p>
    <p>Following strict quality control procedures over incoming raw materials to prepare for extraction to concentrates, are cold processed according to proprietary methods following the guidelines of "Good Manufacturing Practices" as outlined by the FDA.
      Our seasoned on-staff chemist provides high-quality formulas using many years of training on manufacturing cosmetics, natural extracts, essential oils and specialty ingredients, giving our clients confidence in each product purchased with Skin Solutions
      by The Healing Touch.</p>
    <div class="imgfloatright">
      <img src="/assets/images/Skin-Care-Products--element30.jpg" alt="Skin Care Product" />
      <p><span>Bath & Body</span>
        <br> Dry, Sensitive, Oily, Normal, Combination
        <br> Available Sizes: 4 oz
        <br> Almond Avocado Body Lotion 4 oz.
        <br> Chocolate and Coffee Mint Body Polish 4 oz.
        <br> Sea Splash Shower Scrub 4 oz.
        <br> Frosted Vinyl Bag with zipper Ivory Linen trim</p>
    </div>
    <div class="imgfloatright">
      <img src="/assets/images/Skin-Care-Products--element32.jpg" alt="Mascara" />
      <p><span>Lashurious Treatment</span>
        <br> Dry, Sensitive, Oily, Normal, Combination
        <br> Available Sizes: 10 ml
        <br> This is an effective alternative to expensive prescription only products. Lengthen and boost thin or damaged lashes. Improves and conditions your natural eyelashes for a fuller and more youthful lash line.</p>
    </div>
    <div class="imgfloatright">
      <img src="/assets/images/Skin-Care-Products--element34.jpg" alt="Moisturizer" />
      <p><span>Herbal Silk Moisturizer</span>
        <br> Dry, Sensitive, Oily, Normal, Combination
        <br> Available Sizes: 0.5oz, 1.7 oz, 16 oz
        <br> This highly effective formula developed to meet the needs of dehydrated skin. Essential Oil scented.</p>
    </div>
  </div>
</div>
