<div class="pagewrapper" style="text-align:center">
  <header>
    <img id="menubtn" src="assets/images/menu1.png" title="Menu" alt="menu button">
    <h1>
    The Healing Touch!
    </h1>
    <a id="facebookwrapper" href="https://www.facebook.com/healingtouchmaryville/"><img id="facebookbtn" src="assets/images/facebookbtn.png" alt="facebook button" title="Connect with us on Facebook"></a>

  </header>

  <app-nav-bar></app-nav-bar>
  <div class="pagecontent">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="footer">
      <p style="text-align:center;">&copy; 2017 TheHealingTouch</p>
    </div>
  </footer>
