<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <header>
    <h1>
    Welcome to {{ title }}!
   </h1>
  </header>

  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/day-spa-services">Day Spa Services</a></li>
      <li><a routerLink="/skin-care-services">Skin Care Services</a></li>
      <li><a routerLink="/hair-services">Hair Services</a></li>
      <li><a routerLink="/packages">Packages</a></li>
      <li><a routerLink="/manicures-pedicures">Manicures/Peducures</a></li>
      <li><a routerLink="/natural-products-store">Natural Producs/Store</a></li>
      <li><a routerLink="/peacock-cosmetics">Peacock Cosmetics</a></li>
      <li><a routerLink="/spray-tanning">Spray Tanning</a></li>
      <li><a routerLink="/skin-care-products">Skin Care Products</a></li>
      <li><a routerLink="/essential-oils">Essential Oils</a></li>
      <li><a routerLink="/vitamins">Vitamins</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

  <footer>
    <div class="footer">
      <p style="text-align:center;">&copy; 2017 TheHealingTouch</p>
    </div>
  </footer>
