<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/day-spa-services">Day Spa Services</a>
    <a routerLink="/skin-care-services">Skin Care Services</a>
    <a routerLink="/hair-services">Hair Services</a>
    <a routerLink="/packages">Packages</a>
    <a routerLink="/manicures-pedicures">Manicures/Peducures</a>
    <a routerLink="/natural-products-store">Natural Producs/Store</a>
    <a routerLink="/peacock-cosmetics">Peacock Cosmetics</a>
    <a routerLink="/spray-tanning">Spray Tanning</a>
    <a routerLink="/skin-care-products">Skin Care Products</a>
    <a routerLink="/essential-oils">Essential Oils</a>
    <a routerLink="/vitamins">Vitamins</a>
    <a routerLink="/contact-us">Contact Us</a>
</nav>