<div class="ContentWrapper">

  <div class="ContentContainer">
    <h3>Spray Tanning</h3>
    <img src="/assets/images/Spray_tan.jpg" alt="Tan Lines" />
    <p>As an affiliate of we have been professionally trained, are licensed, and certified spray tanning technicians. I will work closely with you to determine and achieve your desired look. Whether it be natural or dramatic, or even competition color! As
      a result of this attention to detail, a high percentage of our business is from repeat customers and referrals!</p>
    <img src="/assets/images/Spray_T.jpg" alt="Spray Tanning" />
    <p>Our solution has the highest quality of spray tanning solution that never leaves you orange!</p>
    <p><span>Include Spray Tanning with your Make Up Party Show for a night you will not soon forget! </span></p>
    <p><span>Host the party of 4 or more guests recieving a spray tan, and you get yours FREE!</span></p>
  </div>
</div>
