<h2>Manicures --- Pedicures --- Acrylics</h2>
<ul>
  <li>Angie Fairchild - Licensed Esthetician/ Nail Technician @ Bethany Office</li>
  <li>Ashton Vandivert - Licensed Nail Technician @ Bethany and Maryville Office</li>
  <li>Tiffany Dredge - Licensed Nail Technician @ Bethany and Maryville Office</li>
</ul>
<p>Provide a Spa manicure and a Spa Pedicure in a perfect way to gain 'elegant' healthy nails while relaxing. </p>
<p>The manicure will include nail shaping, cuticle and hand treatments, therapeutic hand massage, and the application of your desired nail polish colour.</p>
<p>Classic Pedicures include scrubbing and exfoliating the feet, pushing or clipping the cuticles, massaging the feet, shaping the nails, and also applying your chosen nail colour and designs.</p>
<p>Acrylic nails have been a staple in the beauty industry for years. "Acrylics are applied using a liquid monomer and a powder polymer to create a hard protective layer over your natural nails. Acrylics only harden when exposed to air." When the acrylic
  hardens, it provides a perfect canvas for applying nail colour.</p>
<ul>
  <li>Manicure $25</li>
  <li>Amazing Nail $30</li>
  <li>Pedicure $30</li>
  <li>Nail Art $5</li>
</ul>
