<h2>All Natural Products</h2>
<div class="imgfloatright">
  <img src="/assets/images/packages--element40--0.jpg" alt="Bottle of Biofreeze" />
  <p><span>BIO-FREEZE-</span>Biofreeze is a topical over-the-counter gel for pain relief consisting of menthol with other ingredients. The product can be used to alleviate sore muscles, muscle sprains and strains, back, shoulder and neck pain, and to reduce
    pain to ankle, knee, hip and elbow joints.</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/packages--element41--0.jpg" alt="Ear Candles" />
  <p><span>EAR CANDLES -</span>also called ear coning or thermal-auricular therapy, is an alternative medicine practice claimed to improve general health and well-being by lighting one end of a hollow candle and placing the other end in the ear canal.</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/ear_oil.jpg" alt="Ear Oil" />
  <p><span>WALLY'S EAR OIL-</span>Wallys Ear Oil is an all-natural solution that has been helping soothe uncomfortable ears for over 10 years. It's made from six powerful all-natural essential oils and extracts to help keep your ears clean and healthy.</p>
</div>
<h3>Soaps</h3>
<p>Each of our superb, organic-formula soaps contain a high glycerin content for great moisturizing, and fresh scents soothe, refresh & invigorate. Made in the USA - we do not import cheap glycerin bars!</p>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_090_800x600.jpg" alt="Glycerin Bath Soap" />
  <p><span>GLYCERIN BATH SOAP-</span>ginger lime, coconut, cucumber melon, jasmine, lavender, ocean. Large, hand-cut 4 oz. bar</p>
  <p>PRICE: $4 . 50</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_106_800x600.jpg" alt="Round Hand Soap" />
  <p><span>ORGANIC OILS BASED GLYCERIN FACIAL, KIDS SOAP -</span>Unscented, 5 oz. glycerine round, made with 100% certified organic palm and coconut oils.Butterscotch yellow and opaque, the ultimate in pure, earth-friendly soap. For face or body, and great
    for children.</p>
  <p>PRICE: $4 . 50</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_106_800x600.jpg" alt="Round Hand Soap" />
  <p><span>SPECIALTY GARDNERS ROUNDS -</span>This big, beautiful glycerine 5 oz. round is made with pure lavender & sweet orange essential oils, ground lemon peel and super-fine pumice. It gently, but thoroughly cleans gardener's hands, leaving them soft
    and smooth!</p>
  <p>PRICE: $5 . 00</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_092_450x600.jpg" alt="Leaf Shaped Ceramic Soap Dish" />
  <p><span>CERAMIC SOAP DISH-</span>NEW! handmade ceramic, leaf-shaped soap dish - fits both our bath bars and facial rounds perfectly. Each is unique and keeps your Tamarinda glycerin soap dry and long lasting.</p>
  <p>PRICE: $8 . 50</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_098_800x600.jpg" alt="Liquid Soaps" />
  <p><span>ALL NATURAL, ORGANIC  LIQUID HAND SOAP -</span>Lavendar, Rosemary mint, Grapefruit - made with 100% NOP certified organic oils, our all natural castille soap can be used for hands as a body wash or even as a general soap for home use. It is the
    gentlest soap you will find. Fragrance with lavender, grapefruit or rosemary & mint essential oils. Tamarinda liquid soaps are chemical, detergent and additive free - that means they are kind to your skin AND the environment! 8 oz.</p>
  <p>PRICE: $6 . 00</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_098_800x600.jpg" alt="Liquid Soaps" />
  <p><span>ALL PURPOSE LIQUID SOAP - MADE WITH 100% ORGANIC OIL -</span>made using 100% Organic oils, this all purpose castile soap is great for cleaning countertops, bathrooms, even floors. Scented with antimicrobial Peppermint or Grapefruit essential oils.
    16 oz. pump bottle.</p>
  <p>PRICE: $9 . 00</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_094_800x600.jpg" alt="Shea Butter" />
  <p><span>SHEA BUTTER -</span>Lavendar, Coconut - Virtually 100% pure shea butter (just a dash of cherry kernel oil added for smoothness). In unscented, or lightly scented with top Tamarinda scents. 6.5 oz.</p>
  <p>PRICE: $17 . 50</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_097_800x600.jpg" alt="Glass Reed Diffusers" />
  <p><span>SQUARE GLASS REED DIFFUSERS -</span>Lavender, Sandalwood Vanilla, New lower price! Super-concentrated, reed diffuser sets will surround you with luxurious scent for a minimum 9-12 months! Contains 6.5 oz. fragrance of your choice, square glass
    diffuser bottle and 12" rattan reeds. </p>
  <p>PRICE: $22 . 50</p>
</div>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_107_450x600.jpg" alt="Reed Diffuser Refill" />
  <p><span>REED DIFFUSER REFILL -</span>White Musk 6.5 oz of reed diffuser oil, and bundle of 10 reeds. Lasts a minimum of 9 months!</p>
  <p>PRICE: $18 . 50</p>
</div>

<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_091_800x600.jpg" alt="Essential Oil Insect Repellent" />
  <p><span>ESSENTIAL INSECT REPELLENT -</span></p>
  <p>PRICE: Travel Size(2oz) $ 8 . 50 <br> 8oz Size $ 8 . 50</p>
</div>
<div class="imgfloatright">

  <p><span>ALDERWOOD SMOKED SEA SALT-</span>New Lower Price! Fantastic for grilling any meat or fish, this pacific sea salt has been slow smoked over real alderwood fires. The smoking process imparts an authentic and delicious natural smoke flavor, turning
    this nutrient-rich sea salt into a unique spice for your pantry. 100% all-natural. Fine grain, 4.5 oz tin.</p>
  <p>PRICE: $8 . 50</p>
</div>
<h3>Gift Bags</h3>
<div class="imgfloatright">
  <img src="/assets/images/Healing_Hands_Product_099_800x600.jpg" alt="Bags of Soap" />
  <p><span>SOAP GIFT BAGS - </span>Give the gift of great soap with a Tamarinda bath or facial set. Both contain an all natural soap dish and come wrapped in an organza gift pouch - the perfect gift!</p>
  <p>PRICE: $17 . 75</p>
</div>
<div class="imgfloatright">

  <p><span>OLIVE GIFT BAGS -</span>Share the secret of beautiful skin - Save $3 on the set, including 2 fantastic Olive Oil facial soaps and wooden spa soapdish. Wrapped in an organza bag - it makes the perfect gift.</p>
  <p>PRICE: $21 . 50</p>
</div>
<h3>Gift Certificates Also Available!</h3>
